.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0.9rem;
  color: #bfc0c0;
  background-color: #2b2d42;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  cursor: pointer;
}

.button-create-livro {
  font-weight: 600;
}
